INSTALL
Makefile
Makefile.in
aclocal.m4
ap_include.am
autom4te.cache/output.0
autom4te.cache/output.1
autom4te.cache/requests
autom4te.cache/traces.0
autom4te.cache/traces.1
config.log
config.status
configure
cos-fra.autobil.bin
cos-fra.autogen.bin
cos-fra.autolex.bin
cos-fra.automorf.bin
cos-fra.autopgen.bin
cos-fra.prob
cos-fra.rlx.bin
cos-fra.t1x.bin
cos-fra.t2x.bin
cos-fra.t3x.bin
fra-cos.autobil.bin
fra-cos.autogen.bin
fra-cos.autolex.bin
fra-cos.automorf.bin
fra-cos.autopgen.bin
fra-cos.prob
fra-cos.rlx.bin
fra-cos.t1x.bin
fra-cos.t2x.bin
fra-cos.t3x.bin
install-sh
missing
modes/@cos-fra-biltrans.mode
modes/@cos-fra-chunker.mode
modes/@cos-fra-dgen.mode
modes/@cos-fra-disam.mode
modes/@cos-fra-interchunk.mode
modes/@cos-fra-lex.mode
modes/@cos-fra-morph.mode
modes/@cos-fra-pgen.mode
modes/@cos-fra-postchunk.mode
modes/@cos-fra-pretransfer.mode
modes/@cos-fra-tagger.mode
modes/@fra-cos-biltrans.mode
modes/@fra-cos-chunker.mode
modes/@fra-cos-dgen.mode
modes/@fra-cos-disam.mode
modes/@fra-cos-interchunk.mode
modes/@fra-cos-lex.mode
modes/@fra-cos-morph.mode
modes/@fra-cos-pgen.mode
modes/@fra-cos-postchunk.mode
modes/@fra-cos-pretransfer.mode
modes/@fra-cos-tagger.mode
modes/cos-fra-biltrans.mode
modes/cos-fra-chunker.mode
modes/cos-fra-dgen.mode
modes/cos-fra-disam.mode
modes/cos-fra-interchunk.mode
modes/cos-fra-lex.mode
modes/cos-fra-morph.mode
modes/cos-fra-pgen.mode
modes/cos-fra-postchunk.mode
modes/cos-fra-pretransfer.mode
modes/cos-fra-tagger.mode
modes/cos-fra.mode
modes/fra-cos-biltrans.mode
modes/fra-cos-chunker.mode
modes/fra-cos-dgen.mode
modes/fra-cos-disam.mode
modes/fra-cos-interchunk.mode
modes/fra-cos-lex.mode
modes/fra-cos-morph.mode
modes/fra-cos-pgen.mode
modes/fra-cos-postchunk.mode
modes/fra-cos-pretransfer.mode
modes/fra-cos-tagger.mode
modes/fra-cos.mode
